안녕하세요! 전경구 교수님, 저는 임베디드시스템공학과 202201676 장경은입니다.

저는 개발동아리 A+vengers에 지원하고자 합니다! 원래도 참여하고 싶은 마음이 있었는데, 목요일 밤에 설명회를 듣고 더욱 더 참여해야겠다는 마음으로 굳어져서 지원하게되었습니다.  
저는 아직 확실하게 제 꿈이 무엇인지 정하지 못해서 Java, Javascript, python, c++, C 등 얕지만 폭넓게 경험하는 중입니다. 
목표를 세우고 혼자 공부하거나 중간에 의욕을 잃지 않도록 친한 학우들과 개발 언어 스터디를 주도해서 다같이 공부하는 편입니다. 
그러던 중, 이 개발 동아리 모집 공고를 접하게 되었고, 한 분야에 집중적으로 파고들어 다같이 배우고 소통할 수 있는 절호의 기회라고 생각하게 되어 지원하게 되었습니다.

또 제가 이 동아리에 지원하게된 이유로, 
첫째, 저는 지금 tensorflow.js와 node.js를 이용해 모바일 웹용 딥러닝을 공부하며 제작하고 있습니다. 
아직은 컴퓨터 웹상에서만 돌아가는 사물 감지 딥러닝을 제작했고, 흥미를 느끼고 있습니다.  
그런데, 개발 동아리에서 어떤 것을 하는지 설명해주시는 것을 듣다보니 지금 하고 있는 부분과 관련해서 더욱 확장해서 배울 수 있는 기회라고 생각하게 되어 더 심도있게 공부해보고 싶습니다.

둘째, 저는 선배님들과 안면을 많이 트지 못했습니다. 
원래 긍정적이고 밝은 외향적 성격이지만, 엠티도 못가서 어떻게 선배님들과 친목을 다질 수 있을지 모르겠습니다.  
제가 선배님께 도움은 못 드리겠지만, 제게 부족한 부분을 열심히 배워서 후배들에게도 똑같이 전수하고 싶은 희망이 있습니다. 
앞으로 남은 3년동안은 같은 학번인 학우들뿐만 아니라 선배님과도 친해져보고 싶습니다!

셋째, 아직 1년밖에 다니지 못했지만 제가 아두이노나 라즈베리파이와 같은 보드를 이용해서 제 아이디어로 무언가를 만드는 활동과, 백엔드에 특히 관심이 많다는 것을 알게 되었습니다. 
또한, 아직 경험이 없지만 프론트엔드 분야도 동아리 활동을 통해 배워볼 것을 기대하고 있습니다! 
간단하지만 Firebase 사이트를 이용해서 회원가입과 로그인 기능을 갖춘 앱을 제작해본 경험이 있고, 초등학교 때부터 지금까지 1~2년에 1번 이상은 꼭 보드나 프로그램을 이용한 프로젝트를 진행했습니다. 
꾸준히 해오고 재미를 느꼈던 분야인 만큼 열정과 끈기를 가지고 동아리 활동을 열심히 할 것이라고 자부할 수 있습니다! 
전 앞으로 기본적인 학업을 충실하게 따라가면서, 동아리 활동에서 더욱 깊고 재밌는 내용을 배우며 공부하고 싶습니다. 읽어주셔서 감사합니다.

장경은 올림

개인 연락처: 010-2650-6346

통화 가능시간:

평일 오전 9:00 ~ 밤 12:00
주말 오전 10:00 ~ 오후 1:00, 오후 9:00 ~ 밤 12:00
이메일: comjke33@inu.ac.kr